.icon {
  display: inline-block;
  position: relative;
  top: -0.05em;
  width: 1em;
  height: 1em;
  line-height: 1;
  stroke: red;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;

  &.rss {
    background-image: url('icons/rss-feed-tag.svg');
  }

  &.github {
    background-image: url('icons/github.svg');
  }

  &.linkedin {
    background-image: url('icons/linkedin.svg');
  }

  &.mail-out {
    background-image: url('icons/send-mail.svg');
  }
}

svg {
    width: 100%;
    height: 100%;
    stroke: red;
    fill: none;
  }

  path {
    stroke: red;
}