---
---

@use "sass:color";
@use "so-simple/functions" as *;
@use "so-simple/variables" as *;
@use "so-simple/notices" as *;
@use "so-simple/mixins" as *;

@use "so-simple/skin" with(
	/* Colors */
	$base-color: #282828,
	$text-color: #282828,
	$accent-color: #9D0006,
	$background-color: #fff,
	$code-background-color: tint(#282828, 95%),
	$border-color: tint(#282828, 80%),

	$primary-color: #fff,
	$success-color: #34c759,
	$warning-color: #ffcc00,
	$danger-color: #ff3b30,
	$info-color: #5ac8fa,

	$brand-primary: #d65d0e,
	$brand-primary-hover: #c0392b,
	$brand-bg-light: rgba(231, 76, 60, 0.1),
	$navbar-scrolled-bg: rgba(249, 214, 210, 1),
	$shadow-light: rgba(0, 0, 0, 0.1),
	$border-transparent: transparent,
	$text-white: white,

	/* Syntax highlighting (base16) colors */
	$base00: #fafafa,
	$base01: #073642,
	$base02: #586e75,
	$base03: #657b83,
	$base04: #839496,
	$base05: #586e75,
	$base06: #eee8d5,
	$base07: #fdf6e3,
	$base08: #dc322f,
	$base09: #cb4b16,
	$base0a: #b58900,
	$base0b: #859900,
	$base0c: #2aa198,
	$base0d: #268bd2,
	$base0e: #6c71c4,
	$base0f: #d33682,
);
